.nav{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    height: 30px;
    z-index: 1;
    /* background-color: #111; */

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black{

    background-color: #111;
}
.nav__logo{

    position: fixed;
    left: 20; 
    width: 80px;
    object-fit: cotain;
}

.nav__avatar{

    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}